{% extends 'base.html' %}

{% block content %}
<h1 class="title">
    Welcome, {{ name }}!
</h1>

<div class="container">
    <!-- Button to Show Add New List Form -->
    <button class="button is-small is-info" onclick="toggleTaskForm()" style="margin-bottom: 20px;">Add New List</button>
    
    <!-- Form to Add New List, Initially Hidden -->
    <div id="add-task-form" class="box" style="display: none;">
        <form action="{{ url_for('main.add_list') }}" method="post">
            <div class="field">
                <label class="label" for="title">New List Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" placeholder="Enter new list title" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Add List</button>
            </div>
        </form>
    </div>

    <!-- Existing Lists Display -->
    {% for list in lists %}
    <div class="box" style="position: relative; margin-bottom: 20px;">
        <!-- Display List Title -->
        <div id="title-container-{{ list.id }}">
            <h2 class="title is-4" style="color: black; display: inline-block;">{{ list.title }}</h2>
            <a onclick="toggleEdit('{{ list.id }}')" class="button is-small is-light">Rename</a>
        </div>
        <form id="edit-form-{{ list.id }}" action="{{ url_for('main.update_list_title', list_id=list.id) }}" method="post" style="display: none;">
            <input type="text" class="input is-small" name="new_title" value="{{ list.title }}">
            <button type="submit" class="button is-small is-info">Save</button>
        </form>

        <!-- Delete Button for List -->
        <form action="{{ url_for('main.delete_list', list_id=list.id) }}" method="post" style="position: absolute; top: 10px; right: 10px;">
            <button type="submit" class="button is-small is-light">Delete</button>
        </form>

        <!-- Button to Show Add New Task Form for each List -->
        <button class="button is-small is-info" onclick="toggleTaskForm('{{ list.id }}')">Add New Task</button>
        
        <!-- Form to Add New Task, Initially Hidden, for each List -->
        <div id="add-task-form-{{ list.id }}" style="display: none;">
            <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new task" required>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-small is-link">Add Task</button>
                </div>
            </form>
        </div>

        <ul>
            {% for item in list.items if item.parent_id is none %}
            <li>
                {{ item.content }}
                <a href="javascript:void(0);" onclick="toggleEditTask('{{ item.id }}')">Rename</a>
                <form action="{{ url_for('main.delete_task', item_id=item.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="button is-small is-light">Delete</button>
                </form>
                <!-- Rename Task Form (Initially Hidden) -->
                <form id="edit-task-form-{{ item.id }}" action="{{ url_for('main.update_task', item_id=item.id) }}" method="post" style="display: none;">
                    <input type="text" class="input is-small" name="new_content" value="{{ item.content }}">
                    <button type="submit" class="button is-small is-info">Save</button>
                </form>
                <button class="button is-small" onclick="toggleAddTaskForm('add-subtask-form-{{ item.id }}')">Add Subtask</button>
                <!-- Form to Add Subtask, Initially Hidden -->
                <div id="add-subtask-form-{{ item.id }}" style="display: none;">
                    <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                        <input type="hidden" name="parent_id" value="{{ item.id }}">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new subtask" required>
                        <button type="submit" class="button is-small is-link">Add Subtask</button>
                    </form>
                </div>
                <!-- Subtasks display -->
                {% if item.children %}
                    <ul>
                        {% for sub_item in item.children %}
                            <li>{{ sub_item.content }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<script>
function toggleTaskForm(listId) {
    const form = document.getElementById('add-task-form-' + listId);
    form.style.display = form.style.display === "none" ? "block" : "none";
}

function toggleEditTask(itemId) {
    const editForm = document.getElementById(`edit-task-form-${itemId}`);
    editForm.style.display = editForm.style.display === "none" ? "block" : "none";
}

function toggleEdit(listId) {
    const titleContainer = document.getElementById(`title-container-${listId}`);
    const editForm = document.getElementById(`edit-form-${listId}`);
    if (editForm.style.display === "none") {
        editForm.style.display = "block";
        titleContainer.style.display = "none";
    } else {
        editForm.style.display = "none";
        titleContainer.style.display = "block";
    }
}

function toggleAddTaskForm(formId) {
    var form = document.getElementById(formId);
    form.style.display = form.style.display === "none" ? "block" : "none";
}
</script>

{% endblock %}
