{% extends 'base.html' %}

{% block content %}

<section class="section">
<div class="container">
    <h1 class="title">
        Welcome, {{ name }}!
    </h1>


    <!-- Button to Show Add New List Form -->
    <div class="field has-text-right">
        <button class="button is-info" onclick="toggleTaskForm()">Add New List</button>
    </div>
    
    <!-- Form to Add New List, Initially Hidden -->
    <div id="add-task-form" class="box" style="display: none;">
        <form action="{{ url_for('main.add_list') }}" method="post">
            <div class="field">
                <label class="label" for="title">New List Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" placeholder="Enter new list title" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Add List</button>
            </div>
        </form>
    </div>

    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <strong>{{ list.title }}</strong>
                    <br>
                    <a onclick="toggleEdit('{{ list.id }}')" class="button is-small is-light">Rename</a>
                    <form action="{{ url_for('main.delete_list', list_id=list.id) }}" method="post" class="is-inline">
                        <button type="submit" class="button is-small is-danger is-outlined">Delete</button>
                    </form>
                    <button class="button is-small is-info" onclick="toggleTaskForm('{{ list.id }}')">Add New Task</button>
                </div>
            </div>
        </article>

        {% for item in list.items if item.parent_id is none %}
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ item.content }}</strong>
                            <br>
                            <small>
                                <a href="javascript:void(0);" onclick="toggleEditTask('{{ item.id }}')">Rename</a> |
                                <a href="javascript:void(0);" onclick="toggleVisibility('subtasks-{{ item.id }}')">Expand/Collapse</a>
                            </small>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <button class="button is-small is-info" onclick="toggleAddTaskForm('add-subtask-form-{{ item.id }}')">Add Subtask</button>
                        </div>
                    </nav>
                </div>
            </article>

            <!-- Subtasks -->
            <div id="subtasks-{{ item.id }}" style="display: none; margin-top: 10px;">
                {% for sub_item in item.children %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ sub_item.content }}</strong>
                                <small>
                                    <a href="javascript:void(0);" onclick="toggleEditTask('{{ sub_item.id }}')">Rename</a> |
                                    <a href="javascript:void(0);" onclick="toggleVisibility('subsubtasks-{{ sub_item.id }}')">Expand/Collapse</a>
                                </small>
                            </p>
                        </div>
                    </div>
                </article>

                <!-- Sub-subtasks -->
                <div id="subsubtasks-{{ sub_item.id }}" style="display: none; margin-left: 20px;">
                    {% for sub_sub_item in sub_item.children %}
                    <p>{{ sub_sub_item.content }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</section>

<script>
function toggleTaskForm(listId) {
    // Check if listId is provided, if not, use the ID for the "Add New List" form
    var formId = listId ? 'add-task-form-' + listId : 'add-task-form';
    const form = document.getElementById(formId);
    form.style.display = form.style.display === "none" ? "block" : "none";
}

function toggleEditTask(itemId) {
    const editForm = document.getElementById(`edit-task-form-${itemId}`);
    editForm.style.display = editForm.style.display === "none" ? "block" : "none";
}

function toggleEdit(listId) {
    const titleContainer = document.getElementById(`title-container-${listId}`);
    const editForm = document.getElementById(`edit-form-${listId}`);
    if (editForm.style.display === "none") {
        editForm.style.display = "block";
        titleContainer.style.display = "none";
    } else {
        editForm.style.display = "none";
        titleContainer.style.display = "block";
    }
}

function toggleAddTaskForm(formId) {
    var form = document.getElementById(formId);
    form.style.display = form.style.display === "none" ? "block" : "none";
}

function toggleVisibility(elementId) {
    var element = document.getElementById(elementId);
    if (element.style.display === "none") {
        element.style.display = "block";
    } else {
        element.style.display = "none";
    }
}
</script>



{% endblock %}
