{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">
    Welcome, {{ name }}!
</h1>

<div class="container">
    <!-- Button to Show Add New List Form -->
    <button class="button is-small is-info" onclick="toggleTaskForm()" style="margin-bottom: 20px;">Add New List</button>
    
    <!-- Form to Add New List, Initially Hidden -->
    <div id="add-task-form" class="box" style="display: none;">
        <form action="{{ url_for('main.add_list') }}" method="post">
            <div class="field">
                <label class="label" for="title">New List Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" placeholder="Enter new list title" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Add List</button>
            </div>
        </form>
    </div>

    <!-- Existing Lists Display -->
    {% for list in lists %}
    <div class="box" style="position: relative; margin-bottom: 20px;">
        <!-- Display List Title -->
        <div class="content">
            <div id="title-container-{{ list.id }}">
                <h2 class="title is-3" style="color: black; display: inline-block;">{{ list.title }}</h2>
                
            </div>
            <form id="edit-form-{{ list.id }}" action="{{ url_for('main.update_list_title', list_id=list.id) }}" method="post" style="display: none; width: 50%">
                <input type="text" class="input is-small" name="new_title" value="{{ list.title }}">
                <button type="submit" class="button is-info is-small">Save</button>
            </form>
        </div>
        
        <div class="buttons are-small" style="position: absolute; top: 10px; right: 10px;">
            <button class="button is-info is-small" onclick="toggleTaskForm('{{ list.id }}')">Add New Task</button>
            <a onclick="toggleEdit('{{ list.id }}')" class="button is-light is-small">Rename</a>
            <form action="{{ url_for('main.delete_list', list_id=list.id) }}" method="post">
                <button type="submit" class="button is-light is-small">Delete</button>
            </form>
        </div>
        
        <!-- Form to Add New Task, Initially Hidden, for each List -->
        <div id="add-task-form-{{ list.id }}" style="display: none;">
            <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new task" required>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-small is-link">Add Task</button>
                </div>
            </form>
        </div>
        <ul>
            {% for item in list.items if item.parent_id is none %}
            <li>
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-content">
                        <div class="content">
                            <div id="title-container-{{ list.id }}">
                                <h2 class="title is-4" style="color: black; display: inline-block;">{{ item.content }}</h2>
                            </div>
                            <form id="edit-task-form-{{ item.id }}" action="{{ url_for('main.update_task', item_id=item.id) }}" method="post" style="display: none;">
                                <!-- FILEPATH: /Users/tbektemissov/Documents/GitHub/cs162_assignment/project/templates/todo.html -->
                                <div>
                                    {% for list in lists %}
                                    <div>
                                        <h1>{{ list.title }}</h1>
                                        <ul>
                                            {% for item in list.items %}
                                            <li>
                                                <div>
                                                    <h2>{{ item.title }}</h2>
                                                    <form action="{{ url_for('main.update_task', item_id=item.id) }}" method="post">
                                                        <input type="text" class="input is-small" name="new_content" value="{{ item.content }}">
                                                        <button type="submit" class="button is-small is-info">Save</button>
                                                    </form>
                                                </div>
                                                <div>
                                                    {% if item.children %}
                                                    <button class="button is-small is-light" onclick="toggleVisibility('subtasks-{{ item.id }}')">Expand/Collapse</button>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <button class="button is-info is-small" onclick="toggleAddTaskForm('add-subtask-form-{{ item.id }}')">Add Subtask</button>
                                                    <a href="javascript:void(0);" onclick="toggleEdit('{{ item.id }}')" class="button is-small is-light">Rename</a>
                                                    <form action="{{ url_for('main.delete_task', item_id=item.id) }}" method="post" style="display: inline;">
                                                        <button type="submit" class="button is-small is-light">Delete</button>
                                                    </form>
                                                </div>
                                                <div id="add-subtask-form-{{ item.id }}" style="display: none;">
                                                    <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                                                        <input type="hidden" name="parent_id" value="{{ item.id }}">
                                                        <input class="input" type="text" name="taskContent" placeholder="Enter new subtask" required>
                                                        <button type="submit" class="button is-small is-link">Add Subtask</button>
                                                    </form>
                                                </div>
                                                {% if item.children %}
                                                <ul id="subtasks-{{ item.id }}" style="display: none; margin-left: 20px; margin-right: 20px">
                                                    {% for sub_item in item.children %}
                                                    <li>
                                                        <div>
                                                            <h2>{{ sub_item.title }}</h2>
                                                            <form action="{{ url_for('main.update_task', item_id=sub_item.id) }}" method="post" style="display: none;">
                                                                <input type="text" class="input is-small" name="new_content" value="{{ sub_item.content }}">
                                                                <button type="submit" class="button is-small is-info">Save</button>
                                                            </form>
                                                        </div>
                                                        <div>
                                                            {% if sub_item.children %}
                                                            <button class="button is-small is-light" onclick="toggleVisibility('subsubtasks-{{ sub_item.id }}')">Expand/Collapse</button>
                                                            {% endif %}
                                                        </div>
                                                        <div>
                                                            <button class="button is-info is-small" onclick="toggleAddTaskForm('add-subtask-form-{{ sub_item.id }}')">Add Subtask</button>
                                                            <a href="javascript:void(0);" onclick="toggleEdit('{{ sub_item.id }}')" class="button is-small is-light">Rename</a>
                                                            <form action="{{ url_for('main.delete_task', item_id=sub_item.id) }}" method="post" style="display: inline;">
                                                                <button type="submit" class="button is-small is-light">Delete</button>
                                                            </form>
                                                        </div>
                                                        <div id="add-subtask-form-{{ sub_item.id }}" style="display: none;">
                                                            <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                                                                <input type="hidden" name="parent_id" value="{{ sub_item.id }}">
                                                                <input class="input" type="text" name="taskContent" placeholder="Enter new sub-subtask" required>
                                                                <button type="submit" class="button is-small is-link">Add Subtask</button>
                                                            </form>
                                                        </div>
                                                        {% if sub_item.children %}
                                                        <ul id="subsubtasks-{{ sub_item.id }}" style="display: none; margin-left: 20px; margin-right: 20px;">
                                                            {% for sub_sub_item in sub_item.children %}
                                                            <li>
                                                                <div>
                                                                    <h2>{{ sub_sub_item.title }}</h2>
                                                                    <form action="{{ url_for('main.update_task', item_id=sub_sub_item.id) }}" method="post" style="display: none;">
                                                                        <input type="text" class="input is-small" name="new_content" value="{{ sub_sub_item.content }}">
                                                                        <button type="submit" class="button is-small is-info">Save</button>
                                                                    </form>
                                                                </div>
                                                                <div>
                                                                    <a href="javascript:void(0);" onclick="toggleEdit('{{ sub_sub_item.id }}')" class="button is-small is-light">Rename</a>
                                                                    <form action="{{ url_for('main.delete_task', item_id=sub_sub_item.id) }}" method="post" style="display: inline;">
                                                                        <button type="submit" class="button is-small is-light">Delete</button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>

                                <script>
                                function toggleEdit(listId) {
                                    const titleContainer = document.getElementById(`title-container-${listId}`);
                                    const editForm = document.getElementById(`edit-form-${listId}`);
                                    if (editForm.style.display === "none") {
                                        editForm.style.display = "block";
                                        titleContainer.style.display = "none";
                                    } else {
                                        editForm.style.display = "none";
                                        titleContainer.style.display = "block";
                                    }
                                }

                                function toggleAddTaskForm(formId) {
                                    var form = document.getElementById(formId);
                                    form.style.display = form.style.display === "none" ? "block" : "none";
                                }

                                function toggleVisibility(elementId) {
                                    var element = document.getElementById(elementId);
                                    element.style.display = element.style.display === "none" ? "block" : "none";
                                }
                                </script>
