{% extends 'base.html' %}

{% block content %}
<h1 class="title">
    Welcome, {{ name }}!
</h1>

<div class="container">
    <button class="button is-small is-info mb-4" onclick="toggleTaskForm()">Add New List</button>
    
    <div id="add-task-form" class="box is-hidden">
        <form action="{{ url_for('main.add_list') }}" method="post">
            <div class="field">
                <label class="label" for="title">New List Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" placeholder="Enter new list title" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-link">Add List</button>
            </div>
        </form>
    </div>

    {% for list in lists %}
    <div class="box" style="position: relative; margin-bottom: 20px;">
        <div id="title-container-{{ list.id }}">
            <h2 class="title is-4 has-text-black" style="display: inline-block;">{{ list.title }}</h2>
            <a onclick="toggleEdit('{{ list.id }}')" class="button is-small is-light">Rename</a>
        </div>
        <form id="edit-form-{{ list.id }}" action="{{ url_for('main.update_list_title', list_id=list.id) }}" method="post" class="is-hidden">
            <input type="text" class="input is-small" name="new_title" value="{{ list.title }}">
            <button type="submit" class="button is-small is-info">Save</button>
        </form>

        <form action="{{ url_for('main.delete_list', list_id=list.id) }}" method="post" style="position: absolute; top: 10px; right: 10px;">
            <button type="submit" class="button is-small is-light">Delete</button>
        </form>

        <button class="button is-small is-info" onclick="toggleTaskForm('{{ list.id }}')">Add New Task</button>
        
        <div id="add-task-form-{{ list.id }}" class="is-hidden">
            <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new task" required>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-small is-link">Add Task</button>
                </div>
            </form>
        </div>

        <ul>
            {% for item in list.items if item.parent_id is none %}
            <li>
                {{ item.content }}
                {% if item.children %}
                <button onclick="toggleVisibility('subtasks-{{ item.id }}')">Expand/Collapse</button>
                {% endif %}
                <a href="javascript:void(0);" onclick="toggleEditTask('{{ item.id }}')">Rename</a>
                <form action="{{ url_for('main.delete_task', item_id=item.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="button is-small is-light">Delete</button>
                </form>
                <form id="edit-task-form-{{ item.id }}" action="{{ url_for('main.update_task', item_id=item.id) }}" method="post" class="is-hidden">
                    <input type="text" class="input is-small" name="new_content" value="{{ item.content }}">
                    <button type="submit" class="button is-small is-info">Save</button>
                </form>
                <button class="button is-small" onclick="toggleAddTaskForm('add-subtask-form-{{ item.id }}')">Add Subtask</button>
                <div id="add-subtask-form-{{ item.id }}" class="is-hidden">
                    <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                        <input type="hidden" name="parent_id" value="{{ item.id }}">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new subtask" required>
                        <button type="submit" class="button is-small is-link">Add Subtask</button>
                    </form>
                </div>
                {% if item.children %}
                    <ul id="subtasks-{{ item.id }}" class="is-hidden" style="margin-left: 20px;">
                        {% for sub_item in item.children %}
                        <li style="list-style-type: circle;">
                            {{ sub_item.content }}
                            <a href="javascript:void(0);" onclick="toggleEditTask('{{ sub_item.id }}')">Rename</a>
                            <form action="{{ url_for('main.delete_task', item_id=sub_item.id) }}" method="post" style="display: inline;">
                                <button type="submit" class="button is-small is-light">Delete</button>
                            </form>
                            <button class="button is-small" onclick="toggleAddTaskForm('add-subtask-form-{{ sub_item.id }}')">Add Subtask</button>
                            <div id="add-subtask-form-{{ sub_item.id }}" class="is-hidden">
                                <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                                    <input type="hidden" name="parent_id" value="{{ sub_item.id }}">
                                    <input class="input" type="text" name="taskContent" placeholder="Enter new sub-subtask" required>
                                    <button type="submit" class="button is-small is-link">Add Subtask</button>
                                </form>
                            </div>
                            {% if sub_item.children %}
                                <button onclick="toggleVisibility('subsubtasks-{{ sub_item.id }}')">Expand/Collapse</button>
                                <ul id="subsubtasks-{{ sub_item.id }}" class="is-hidden" style="margin-left: 20px;">
                                    {% for sub_sub_item in sub_item.children %}
                                    <li style="list-style-type: square;">
                                        {{ sub_sub_item.content }}
                                        <a href="javascript:void(0);" onclick="toggleEditTask('{{ sub_sub_item.id }}')">Rename</a>
                                        <form action="{{ url_for('main.delete_task', item_id=sub_sub_item.id) }}" method="post" style="display: inline;">
                                            <button type="submit" class="button is-small is-light">Delete</button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %} 
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<script>
function toggleTaskForm(listId) {
    var formId = listId ? 'add-task-form-' + listId : 'add-task-form';
    const form = document.getElementById(formId);
    form.classList.toggle('is-hidden');
}

function toggleEditTask(itemId) {
    const editForm = document.getElementById(`edit-task-form-${itemId}`);
    editForm.classList.toggle('is-hidden');
}

function toggleEdit(listId) {
    const titleContainer = document.getElementById(`title-container-${listId}`);
    const editForm = document.getElementById(`edit-form-${listId}`);
    titleContainer.classList.toggle('is-hidden');
    editForm.classList.toggle('is-hidden');
}

function toggleAddTaskForm(formId) {
    var form = document.getElementById(formId);
    form.classList.toggle('is-hidden');
}

function toggleVisibility(elementId) {
    var element = document.getElementById(elementId);
    element.classList.toggle('is-hidden');
}
</script>

{% endblock %}
