.card {
    margin-bottom: 10px;
    position: relative;
}

.card-content, .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    width: 100%;
}

.title {
    color: black;
    display: inline-block;
}

.edit-task-form, .add-subtask-form {
    display: none;
    width: 50%;
    margin: 0 auto;
}

.add-subtask-form {
    width: 80%;
}

.buttons.are-small {
    position: absolute;
    top: 10px;
}

.buttons.left {
    left: 10px;
}

.buttons.right {
    right: 10px;
}

.control.has-text-centered {
    text-align: center;
}
