{% for list in lists %}
    <div class="box" ondrop="drop(event)" ondragover="allowDrop(event)" data-list-id="{{ list.id }}">
        <div class="content">
            <div id="list-title-container-{{ list.id }}">
                <h2 class="title is-3">{{ list.title }}</h2>
            </div>
            <form id="edit-form-{{ list.id }}" class="edit-form" action="{{ url_for('main.update_list_title', list_id=list.id) }}" method="post">
                <input type="text" class="input is-small" name="new_title" value="{{ list.title }}">
                <button type="submit" class="button is-info is-small">Save</button>
            </form>
        </div>

        <div class="buttons are-small">
            <button class="button is-info is-small" onclick="toggleTaskForm('{{ list.id }}')">Add New Task</button>
            <a onclick="toggleEditList('{{ list.id }}')" class="button is-light is-small">Rename</a>
            <form action="{{ url_for('main.delete_list', list_id=list.id) }}" method="post">
                <button type="submit" class="button is-light is-small">Delete</button>
            </form>
        </div>

        <div id="add-task-form-{{ list.id }}" class="add-task-form">
            <form action="{{ url_for('main.add_task', list_id=list.id) }}" method="post">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="taskContent" placeholder="Enter new task" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-text-centered input-control">
                        <button type="submit" class="button is-small is-info">Add Task</button>
                    </div>
                </div>
            </form>
        </div>
        {% include 'todo_pages/task.html' %}
    </div>
{% endfor %}