<ul id="subtasks-{{ sub_item.id }}" style="display: {{'none' if sub_item.is_collapsed else 'block'}}; margin-left: 20px; margin-right: 20px;">
    {% for sub_sub_item in sub_item.children %}
    <li>
        <!-- Card container for each sub-subtask -->
        <div class="card" >
            <div class="card-content">
                <div class="content">
                    <!-- Sub-subtask title -->
                    <div id="task-title-container-{{ sub_sub_item.id }}" class="title-container">
                        <h2 class="title is-6" style="color: black;">{{ sub_sub_item.content }}</h2>
                    </div>
                    <!-- Hidden form for editing sub-subtask title, shown when editing is triggered -->
                    <form id="edit-task-form-{{ sub_sub_item.id }}" action="{{ url_for('main.update_task', item_id=sub_sub_item.id) }}" method="post" class="edit-task-form">
                        <input type="text" class="input is-small" name="new_content" value="{{ sub_sub_item.content }}">
                        <button type="submit" class="button is-small is-info">Save</button>
                    </form>
                </div>
            </div>
            <!-- Buttons for editing and deleting the sub-subtask -->
            <div class="buttons are-small right">
                <a href="javascript:void(0);" onclick="toggleEditTask('{{ sub_sub_item.id }}')" class="button is-small is-light">Rename</a>
                <form action="{{ url_for('main.delete_task', item_id=sub_sub_item.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="button is-small is-light">Delete</button>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
