{# Extend the base layout template #}
{% extends 'base.html' %}

{# Content block override from the base template #}
{% block content %}

<h1 class="title is-2">Welcome, {{ name }}!</h1>

<!-- Container for adding a new list and displaying existing lists -->
<div class="container">
    <!-- Button to trigger the display of the form to add a new list -->
    <button class="button is-small is-info" onclick="toggleAddForm('add-task-form')" style="margin-bottom: 20px;">Add New List</button>

    <!-- Form for adding a new list, hidden by default -->
    <div id="add-task-form" class="box" style="display: none;">
        <form action="{{ url_for('main.add_list') }}" method="post">
            <div class="field">
                <label class="label" for="title">New List Title</label>
                <div class="control">
                    <input class="input" type="text" id="title" name="title" placeholder="Enter new list title" required>
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">Add List</button>
            </div>
        </form>
    </div>

    <!-- Include the template for displaying lists -->
    {% include 'todo_pages/list.html' %}
</div>

{% endblock %}